<form>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input required minlength="3" maxlength="10" ngModel name="firstName" #firstName="ngModel" (change)="log(firstName)" id="firstName" type="text" class="form-control">


    <div class="alert alert-danger" *ngIf="!firstName.touched && !firstName.valid">

      <div *ngIf="firstName.errors.required">First Name is required!</div>
      <div *ngIf="firstName.errors.minlength">First Name is minimum {{firstName.errors.minlength.requiredlength}} characters!</div>

    </div>


    <label for="diarytitle">Title Of Diary</label><input id="diarytitle" type="text" class="form-control">

    <label for="datetoday">Today's Date</label><input id="datetoday" type="text" class="form-control">

  </div>


  <div class="form-group">
    <label for="comment">Diary Entry</label>
    <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control">
    </textarea>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>