<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron" id="appbody">



  <div style="text-align:center">
    <h1>
    Welcome to {{ title }}!
  </h1>
    <img width="300" alt="Diary Logo" src="assets/diary.jpg/">
  </div>
</div>
<div class="jumbotron" id="appbodyjumbotron2">
  <h2>Click below to learn how to write down your thoughts: </h2>
  <ul>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://www.enchantingmarketing.com/writing-strategies/">Diary Writing Strategies</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://ideapod.com/6-surprising-benefits-writing-thoughts-feelings/">Benefits Of Writing Down Your Thoughts</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://medium.com/@nicolascole77/writing-down-your-thoughts-feelings-and-emotions-helps-you-understand-yourself-d8cae0702bf2/">How To Understand Yourself</a></h2>
    </li>
  </ul>
</div>

<h1>My Diary</h1>
<ul>
  <li *ngFor='let diary of diaries'>{{diary}}</li>
</ul>
<diary-form></diary-form>